body {
	background-color: #F8DFA1; 
}

#title {
	text-align: center;
	color: #7E9A34;
	text-size: 50px;
	background-color: #F8DFA1;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	background-color: #4B5489;
}

li {
	display: inline;
}

li a {
	color: #7E6116;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #182157;
}

button {
	display: inline-block;
	background-color: #7E9A34;
	text: #7D2A62;
}

#footer {
	background-color: #4B5489;
	padding-top: 5px;
	padding-bottom: 20 px;
	border-top: 10px #182157;
	width: 100%;
}

#content{
	padding: 15px 20px;
	border:solid 1px #553E04;
	background-color: white;
	margin: 0px 40px;
}
