html {
	background-color: #F8DFA1; 
}

h1 {
	text-align: center;
	color: #7E9A34;
	text-size: 180px;
	background-color: #F8DFA1;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	padding-left: 20px;
	overflow: hidden;
	background-color: #4B5489;
}

li {
	display: inline;
}

li a {
	color: #7E6116;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #182157;
}

button {
	float: right;
	background-color: #7E9A34;
	text: #7D2A62;
}

#footer1 {
	background-color: #4B5489;
	padding-top: 5px;
	padding-bottom: 20 px;
	border-top: 10px #182157;
	width: 100%;
}

#footerList {
	background-color: #4B5489;
	margin: 0;
	overflow: hidden;
}

#footerList li{
	display: inline;
}

#footerlist li a {
	color: #7E6116;
	padding: 14px 16px;
	text-decoration: none;
}

