html {
	background-color: #FFFDD0; 
}

h1 {
	text-align: center;
	color: #E75480;
	background-color: #FFFDD0;
	font-size: 90px;
	font-family: 'Gloria Hallelujah', cursive;
}

ul {
	list-style-type: none;
	margin: 10px 0px;
	padding: 10px;
	padding-left: 20px;
	overflow: hidden;
	background-color: #4B5489;
}

li {
	display: inline;
}

li a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	font-family: Cambria;
}

li a:hover {
	background-color: #182157;
}

#login {
	display:inline;
	float: right;
}

#login > input {
	background-color: #4B5489;
	color: white;
	font-size: 20px;
	padding: 8px;
	margin: 8px;
}
#logout {
	display:inline;
	float: right;
}

#logout > input {
	background-color: #4B5489;
	color: white;
	font-size: 20px;
	padding: 8px;
	margin: 8px;
}

#footer {
	background-color: #4B5489;
	padding-top: 5px;
	padding-bottom: 20 px;
	border-top: 10px #182157;
	width: 100%;
	text-align: center;
	margin: 10px 0px;
	height: 40px;
}

#footer a {
	padding: 7px;
}

.clearfix {
	overflow: auto;
}

#content {
	padding: 20x 20px;
	border: solid 1px black;
	background-color: white;
	margin: 0px 60px;
	min-height: 50%;
	font-family: Cambria;
}

p{
	padding: 10px;
	margin-right: 20px;
	font-family: Cambria;
}

#logo {
	padding: 20px;
}

#search {
	margin: 100px;
}

#frontPageImg{
	float: left;
	margin: 20px;
	padding-right: 10px;
}

#frontPageImg img {
	width: 300px;
}

input {
	display: inline;
	margin: 10px;
}

.inputForms {
	padding: 10px 0px;
	text-align: center;
	font-family: Cambria;
}

form {
	font-family: Cambria;
}

h3 {
	color: #FC8EAC;
	text-align: center;
	font-size: 45px;
	padding: 10px;
	font-family: Papyrus;
}

#dashleft {
	float: left;
	padding-left: 10%;
}

#dashright {
	float: right;
	padding-right: 10%;
}

h4 {
	color: #FC8EAC;
	display: inline;
	font-family: Papyrus;
	font-size: 35px;
}

#contactInfo {
	text-align: center;
	font-size: 25px;
	padding: 10px 40px;
	margin: 0px 40px;
}

#browse {
	padding: 10px 60px;
	margin: 0px 60px;
	font-family: Cambria;
}

td {
	padding: 10px 30px;
}

#viewRecipe {
	text-align: center;
	padding: 10px 30 px;
}